body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E9EDE3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.divbody {
  color:blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.catCard {
  margin-top: 5%;
  padding: 10px;
  background-color: gray;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.4);
  min-width: 20%;
  max-width: 300px;
}

.catHeader {
  font-size: 20;
  display: flex;
  padding:5;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.catHeaderText {
  color:white;
  margin-bottom: 2px;
  font-size: 20px;

}

.catHeaderTextCalories {
  color:white;
  font-size: 12px;


}
.catHeaderButtonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.catBody {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.catItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 15%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.catItemTypeText {
  color: darkgray;
  font-size: 16px;

}

.catItemAmountText {
  color: white;
  font-size: 11px;


}

.catIcon {
  width: 60px;
  margin-top: -6px;
}

.catTypeNAmount {
  display: flex;
  flex-direction: column;
  left:50%;
  position: absolute;

}

.catCardFooter {
  padding: 15px, 

}

.catCardFooterText {
  color:white;
  font-size: 80%;
  padding: 2px;
  text-decoration: underline;

}

.catHeaderButtonImage {
  width:50px;
  transition: transform 0.3s;
  margin-left: 5px;
  margin-right: 5px;
}
.catHeaderButtonImage:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: transform 0.3s;
}

.catHeaderHolders {
  width:100%;
  height: 0;
  border-bottom: 2px solid white;
}

.addFoodModal {
  position: absolute;
  left:40%;
  top: 50%;
  background-color: #9CBD97;
}