body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E9EDE3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #B2D185;
  height: 100px;
  /* idfk */
}

.divbody {
  color:blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.catCard {
  margin-top: 5%;
  padding: 10px;
  background-color: gray;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.4);
}

.catHeader {
  font-size: 20;
  display: flex;
  padding:5;
  border-bottom: 2px solid white;
  justify-content: space-around;
}

.catHeaderText {
  color:white;
  margin-bottom: 5px;
  font-size: 20px;

}

.catBody {
  padding: 10px;

}

.catItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 15%;
}

.catItemTypeText {
  color: darkgray;
  font-size: 16px;

}

.catItemAmountText {
  color: white;
  font-size: 11px;

}