
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E9EDE3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.divbody {
  color:blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.catCard {
  margin-top: 5%;
  padding: 10px;
  background-color:#666953;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.4);
  min-width: 20%;
  max-width: 300px;
}

.catHeader {
  font-size: 20;
  display: flex;
  padding:5;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.catHeaderText {
  color:white;
  margin-top: 25px;
  margin-bottom: 2px;
  font-size: 20px;
  letter-spacing: 5px;
  font-family: 'Open Sans', sans-serif;
}

.catHeaderTextCalories {
  color: #E9EDE3;
  font-size: 12px;


}
.catHeaderButtonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.catBody {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.catItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 15%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.catItemTypeText {
  color: #E9EDE3;
  font-size: 16px;
}

.catItemAmountText {
  color: #E9EDE3;
  font-size: 11px;


}

.catIcon {
  width: 60px;
  margin-top: -6px;
}

.catTypeNAmount {
  display: flex;
  flex-direction: column;
  left:50%;
  position: absolute;

}

.catCardFooter {
  padding: 15px, 

}

.catCardFooterText {
  color:white;
  font-size: 80%;
  padding: 2px;
  text-decoration: underline;

}
.catCardFooterText:hover {
  cursor: pointer;
}

.catHeaderButtonImage {
  width:50px;
  color: #E9EDE3;
  font-size: 40px;
  transition: transform 0.1s;
  margin-left: 5px;
  margin-right: 5px;
}
.catHeaderButtonImage:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: transform 0.3s;
}

.catHeaderHolders {
  width:100%;
  height: 0;
  border-bottom: 2px solid white;
}

.addFoodModal {
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: #9CBD97;
  left: 20%;
  right: 20%;
  padding: 20px;
  top:20%;
  justify-content: space-between;

}

.exit {
  position: absolute;
  left: 20%;
  right: 20%;
  top:20%;
  z-index: 2;
  background-color: #9CBD97;

}

.exitIcon {
  color:white;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.exitIcon:hover {
  cursor: pointer;

}


.addFoodManual{
  
  
}

.addFoodUpload {
 

}

.addFoodImageContainer {
  width:300px;
  height:500px;
  overflow: hidden;

}

.saladImageFr {
  width:100%;
  height:100%;
  object-fit: cover; 
  transition: filter  3s;
  transition: transform  1s;
  position: relative;
}

.saladImageFr:hover {
  filter: grayscale(100%) brightness(50%);
  transform: scale(1.1) ;
  transition: filter 3s;
  transition: transform  1s;
  cursor: pointer;
  position: relative;
}

.addFoodManualText {
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.addFoodManualTextDiv {
  position: absolute;
  top:50%;
  left: 12%;
  padding: 2px;
  background-color: #666953;
  opacity: 90%;
  border-radius: 20px;
}

.addFoodManualTextDiv2 {
  background-color: #9CBD97;
  padding:5px; 
  border-radius: 20px;
}

.addFoodUploadTextDiv {
  position: absolute;
  top:50%;
  right: 16%;
  padding: 2px;
  background-color: #666953;
  opacity: 90%;
  border-radius: 20px;

} 

.ManualAdd {

}


.ManualAdd{
  border-radius: 20px;
  position: absolute;
  background-color: #666953;
  left: 20%;
  right: 20%;
  padding: 3px;
  top:20%;
}

.ManualAdd2{
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #9CBD97;
  justify-content: space-between;
  padding: 10px; 

}

.formItem {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  
  
}

.labelAdd {
  color:white;
  font-size: 20px;


}

.exitModalDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addIconManual:hover {
  cursor: pointer;

}

.UploadAdd {
  border-radius: 20px;
  position: absolute;
  background-color: #9CBD97;
  left: 20%;
  right: 20%;
  padding: 3px;
  top:20%;

}

.UploadAdd2 {

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #666953;
  justify-content: space-between;
  padding: 10px; 

}

.UploadHeaderText {
  color:white;
  margin-bottom: 20px;

}

.UploadImgContainer{
  width: 400px;
  height: 480px;
  overflow: hidden;
  align-self: center;
}

.UploadHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.UploadImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}