@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.upload-page {
  background-color: #404232;
  height: 100vh;
}

.UploadAdd {
  background-color:#e9ede3;
  width: 500px;
  height: 500px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
}

.UploadImgContainer {
  width: 480px;
  height: 480px;
  border: 3px solid #404232;
}

.upload-away {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cloche-icon {
  width: 320px;
  height: 320px;
  opacity: 0.5;
}

.UploadHeaderText {
  color: #9CBD97;
}

.file-upload {
  margin-left: 90px;
}

.add-manually {
  border: 1px solid #e9ede3;
  font-style: italic;
  font-family: 'Lora', serif;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-top: 15px;
  width: 500px;
  margin-left: -10px;
  background-color: transparent;
}

.add-manually:hover {
  text-decoration: underline;
}

.UploadImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}