footer {
  position: absolute;
  background-color: #9CBD97;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
}

.privacy-text {
  margin-left: -20px;
}

footer p {
  color: white;
  margin-left: 40px;
  font-size: 13px;
  cursor: pointer;
}

footer p:hover {
  text-decoration: underline;
}

.copyright-txt {
  position: absolute;
  right: 22px;
  font-size: 11px;
  color: #404232;
}

.day-changer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  font-family: Open Sans;
}

.day-changer * {
  margin-left: 8px;
  color: #404232
}

.chevron {
  cursor: pointer;
}